<?xml version="1.0" encoding="UTF-8"?>

<!-- Example of what the config file MIGHT look like -->
<jrest>	
	
	<!-- Configuration for the controllers -->
	<controllers>
		<package>
			com.example.controllers
		</package>
	</controllers>
	
	<!-- Configuration for errors -->
	<errors>
		<custom-response>
			<code>404</code>
			<phrase>Couldn't find the damn file</phrase>
		</custom-response>		
		<custom-response>
			<code>500</code>
			<phrase>You broke my machine!</phrase>
			<file>500.html</file>
		</custom-response>
	</errors>
	
</jrest>
	
	
	