<?xml version="1.0" encoding="UTF-8"?>

<jrest-config>	
	
	<controllers>
		<package>
			com.example.controllers
		</package>
	</controllers>
	
	<errors>
		<custom-response>
			<code>404</code>
			<phrase>Couldn't find the damn file</phrase>
		</custom-response>		
		<custom-response>
			<code>500</code>
			<phrase>You broke my machine!</phrase>
			<file>500Response.html</file>
		</custom-response>
	</errors>
	
</jrest-config>
	
	
	